*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 165, 132);
}

.container{

    width: 50%;
    min-height: 50px;
    background: rgb(177, 57, 121);
    padding: 10px 10px;
    margin: auto;
    border-radius: 10px;
}
.toDo-app{
    width: 100%;
    min-width: 540px;
    background: blueviolet;
    margin: 100px auto 20px;
    padding: 50px 30px 100px;
    border-radius: 10px;
}
.toDo-app h2{
    color: rgb(155, 198, 198);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
}
.toDo-app h2{
    width: 50px;
    margin-left: 50px;
}
.row{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background: yellowgreen;
  border-radius: 30px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
    

}
button{
    
    border: none;
    outline:none;
    padding: 16px 50px;
    background: aqua;
    color: brown;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: white;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(image/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px; 
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(174, 147, 201);
}

